<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzx.Home.live.dao.SysStockLiveDao">
	<select id="getList" resultType="com.zzx.pojo.SysStockLive">
		select * from live order by time desc
	</select>
</mapper>