<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzx.Home.stock.second.dao.SysStockSecondDao">
	<select id="getstaff" resultType="com.zzx.pojo.SysStaff">
		select * from staff
	</select>
	
	<select id="getstaffall" resultType="com.zzx.pojo.SysStaff">
		select * from staff order by allrate desc
	</select>
	
	<select id="getstaffnow" resultType="com.zzx.pojo.SysStaff">
		select * from staff order by nowrate desc
	</select>
	
	<select id="getStock" resultType="com.zzx.pojo.SysStock">
		select * from stocklist where staffid = #{staffid}
	</select>
	
	<update id="setStockForStaff">
		update staff set allrate=#{allpre},nowrate=#{nowpre} where staffid = #{staffid}
	</update>
	
</mapper>